<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
    <ActionItem text="Add" ios.position="right"></ActionItem>
</ActionBar>

<StackLayout class="form">
    <StackLayout class="input-field">
            <label text="First Name" class="label"> </label>
            <TextField class="input input-border" hint="First Name"></TextField>
    </StackLayout>
        <Button text="Submit" class="btn btn-primary pulse"></Button>
        <label class="text-danger text-center" text="This is warning of some sort"></label>
       
        <Image src="https://placehold.it/350x150"></Image>
       

</StackLayout>